body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
}
.head{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.gamer{
    display: flex;
}
.options{
    display: flex;
}
.game-name{
    font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}
.pink{
    color: rgb(251, 142, 158);
}
.fa-youtube.red{
    color: red;
}
.menu-option{
    background-color: lightgray;
    width: 262px;
    display: flex;

    
}
.margin{
    margin-left: 25px;
}
.med-margin{
    margin-left: 10px;
}
.intro{
    display: flex;
    margin-bottom: 50px;
}
.info{
    width: 50%;

}
.show{
    width: 50%;
}
.intro2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
}
.info{
    background-image: url(images/Group\ 14.png);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.end{
    text-align: end;
}
.middle{
    text-align: center;
}
.extra{
    position: relative;
    left: 390px;
}
.purple{
    font-size: 50px;
    background: -webkit-linear-gradient(#F249B6, #9A55E7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purple2{
    background: -webkit-linear-gradient(#F249B6, #9A55E7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.med{
    font-size: 40px;
}
.buttons{
    display: flex;
}
.big-margin1{
    margin-left: 50px;
}
.big-margin2{
    margin-left: 40px;
}
.btnmargin{
    margin-left: 22px;
}
.signin{
    background-color: #F249B6;
    padding:  10px 30px;
    border-radius: 20px;
    color: white;
}
.wid{
    width: 190px;
    text-align: center;
}
.gorogue{
    background-color: lightskyblue;
    padding:  10px 30px;
    border-radius: 20px;
    color: white;
}
.videos{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 10px;
    margin-left: 50px;
}
.fa-play.watch{
    position: relative;
    right: -160px;
    top: -220px;
}
.watch{
    position: relative;
    right: -120px;
    top: -220px;
    color: black;
}
.txt4{
    font-size: 30px;
}
.info4{
    display: flex;
    position: relative;
    top: 150px;
    right: -100px;
    text-align: end;
}
.intro4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 200px;
}
.intro5{
    display: flex;
    margin-bottom: 250px;
    
}
.resize{
    height: 450px;
}
.pos{
    position: relative;
    top: -200px;
    right: 200px;
}
.resize2{
    height: 450px;
    position: relative;
    right: -80px;
}
.pos2{
    height: 250px;
    position: relative;
    top: 80px;
    left: -50px;
}
.info5{
    display: flex;
    position: relative;
    top: 150px;
    left: 200px;
   justify-content: center;
}
.intro6{
   
    color: white;
   background-image: linear-gradient(#FF42A5,#FF42E1);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
   
}
.half{
    margin-left: 30px;
}
.leftsection{
 margin-left: 20px;
}
.rightsection2{
   display: flex;
   justify-content: center;
   align-items: center;
}

.role{
    display: flex;
    
}
.but{
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 45px;
    background-color: white;
    color: #FF42A5;
}
.pad{
    padding: 10px 0px;
}

.space{
    margin-left: 10px;
    padding: 0px 5px;
   
}
.bor{
    border-radius: 20px;
}
.special{
    border: 2px solid #FF42A5;
    color: #FF42A5;

}
.intro7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.first5{
   
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.second5{
   
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    justify-content: center;
}
.game-category{
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 25px;
}
.footer{
    background-color: rgb(61, 4, 99);
    color: white;
}
.downoptions{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    
}
.icons{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.lastinfo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footer{
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:688px) {
    .head{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .options{
        flex-direction: column;
    }
    .cent{
        text-align: center;
    }
    .intro{
        flex-direction: column-reverse;
    }
    .show img{
        width: 350px;
        position: relative;
        right: -75px;
    }
    .info{
        width: 350px;
        position: relative;
        top: 100px;
        right: -85px;
    }
    .intro2{
        grid-template-columns: repeat(1,1fr);
    }
    .show2{
        margin-top: 50px;
    }
    .show2 img{
        
        width: 350px;
        position: relative;
        right: -75px;
    }
    .information{
        width: 100%;
    }
    .end{
        text-align: center;
    }
    .extra{
        position: relative;
        left: 120px;
    }
    .med{
        font-size: 30px;
    }
    .videos{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        margin-left: 80px;
        margin-top: 30px;
        
    }
    .cent2{
        position: relative;
        left: -8px;
    }
    .cent3{
        position: relative;
        left: 8px;
    }
    .intro4{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 200px;
    }
    .intro5{
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 200px;
    }
    .info4{
        margin-bottom: 100px;
        text-align: center;
        position: relative;
        top: 10px;
    }
    .resize{
        height: 300px;
        position: relative;
        right: -150px;
    }
    .pos{
        height: 200px;
        top: 80px;
    }
    .resize2{
        height: 280px;
        position: relative;
        right: -120px;
    }
    .pos2{
        height: 180px;
        top: 50px;
        left: -230px;
    }
    .info5{
        text-align: center;
    }
    .intro5{
        flex-direction: column-reverse;
    }
    .info5{
        top: -100px;
        left: -5px;
    }
    .intro6{
        grid-template-columns: repeat(1,1fr);
    }
    .rightsection2 img{
        width: 100%;
    }
    .first5{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 10px;
        
    }
    .second5{
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 10px;
    }
    .spec{
        position: relative;
        left: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .downoptions{
        grid-template-columns: repeat(3,1fr);
    }
    .icons{
        grid-template-columns: repeat(3,1fr);
    }
    .lastinfo{
        grid-template-columns: repeat(2,1fr);
    }
   
}